.product-container{
	color: white;
	background-color: #435061;
	padding: 40px;
	display: flex;
	justify-content: center;
}

.white-rectangle-container{
	background-color: white;
	height: 220px;
	width: 460px;
	margin-left: 120px;
}

.description-container{
	width: 600px;
	font-size: 20px;
}

.description-container h1{
	margin-bottom: 40px;
	margin-left: 10px;
	font-size: 60px;
}

.list-descriptions{
	list-style-type: none;
}

.list-descriptions li{
	position: relative;
}


.list-descriptions li:before{
	content: '\2714';
    position: absolute;
    top: 0px;
    left: -30px;
}

.about-product-container{
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.black-rectangle-container{
	background-color: #435061;
	height: 220px;
	width: 460px;
	margin-left: 120px;
}

.about-your-product-container{
	width: 600px;
}

.about-your-product-container h1{
	margin-bottom: 40px;
	font-size: 60px;
}

.advantage-product-container{
	display: flex;
	align-items: flex-start;
}

.container{
	padding-bottom:  40px;
}

.advantages-product-container h1{
	text-align: center;
	padding: 40px 0;
}

.advantages-product-container{
	background-color: #F5F5F5;
}

.row{
	margin-right: 0px;
}

.scrinshot-container{
	width: 30%;
	height: 120px;
	margin: auto;
	background-color: #445161;
	margin-right: 20px;
}

.scrinshots-container h1{
	text-align: center;
}

.description-of-image{
	display: flex;
}


.description-product{
	width: 70%;
}


.scrinshots-container h1{
	padding: 40px 0;
}

.user-circle{
	width: 20%;
	height: 100px;
	background-color: #445161;
	border-radius: 50%;
	margin-right: 20px;
}

.review-container{
	display: flex;
	margin: 10px 0;
}

.review-user-container{
	width: 80%;
}

.reviews-container{
	background-color: #F5F5F5;
}

.reviews-container h1{
	text-align: center;
	padding: 40px 0;
}

.review-user-container{
	background-color: #EBEBEB;
	border-radius: 20px;
	position: relative;
	padding: 20px;
}

.review-user-container:before{
	content: '';
	position: absolute;
	border: 20px solid transparent;
	border-right: 20px solid #EBEBEB;
	left: -35px;
}

.review-user-container span{
	color: #B6B6B6;
}

.pay-container h1, h3{
	text-align: center;
}

.subscription-container{
	display: flex;
	align-items: flex-end;
}

.subscription{
	padding-bottom: 20px;
	background-color: #445161;
	margin: 0 20px;
	color: white;
	border: 1px solid #445161;
	border-radius: 10px;
}

.cost-subscription{
	background-color: white;
	color: black;
	padding: 10px 0;
}

.status{
	margin: 10px 0;
}

.pay-container ol{
	margin: 20px 0;
}

.pay-link{
	background-color: white;
	color: black;
	padding: 5px;
	display: block;
	text-align: center;
	border-radius: 10px;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	margin: 0 20px;
	transition: background-color 0.3s ease-in-out;
}

.pay-link:hover{
	text-decoration: none;
	background-color: #445161;
	color: white;
}

.introduction-h1{
	margin: 40px 0;
}

.contacts-container{
	display: flex;
	justify-content: center;
}

.form-container{
	width: 70%;
}

.info-about-us-container div{
	display: flex;
	align-items: center;
}

.about-us-container h1{
	text-align: center;
	padding: 40px 0;
}

.about-us-container{
	background-color: #445161;
	color: white;
}

.btn-send{
	display: block;
	margin: auto;
	padding: 10px 50px;
	border-radius: 10px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #445161;
	transition: background-color 0.3s linear;
}

.btn-send:hover{
	background-color: #445161;
	color: white;
}

.info{
	margin-left: 10px;
}

.info-link:hover{
	text-decoration: none;
	color: black;
}

.info-link{
	color: white;
	transition: color 0.3s linear;
}

.info-link-container{
	margin-top: 10px;
}

::selection{
	background-color: white;
	color: black;
};